<!-- This partial displays review ratings for a rating named rating -->
<div display_review_ratings>
<table style= "width:30%; font-size:.5em;">
   <tr>
    <td> <b>Rating : </b> </td>
    <td> <%= image_tag(rating +".png") %>   <%= rating %></td>
    </tr>
  </table>
</div>

