<!-- This partial displays review ratings for a rating named rating and reader count readers_count -->
<div width=500 >
 <%= image_tag(rating +".png") %><b><%= rating %></b> <span class=author><small>(<%= readers_count%> readers)</small></span>
 </div>

