
<h1> <%=@group.groupName %> </h1>
<hr style="border-top: dotted 1px;" />
<div >
 <%= render @group %>
</div>
<hr style="border-top: dotted 1px;" />
<div >
  <b> Readers</b> <br>
  <%= render 'readers/shared_files/display_all_readers', reader: @readers %>

</div>



