<h1>Books Read by US</h1>

 <table id="showBooks">
  <% @books.in_groups_of(5,false) do |book| %>
  <tr>
      <% book.each do |b| %>
        <td><ul>
                <li>  <%=image_tag(b.bookcover, :alt=> "",:width =>80,:height =>100) %> </li>
                <li> <small><%= b.title %></small></li>
                 
                   <!--  <li> %= render 'reviews/shared_files/display_average_review_rating', rating:  b.average_rating.round.to_s , readers_count: b.readers_count %></li> -->
                 
             </ul>         
         </td>
      <% end %>
  </tr>
 <% end %>
 </table>

