<h1>Books Read by US</h1>

 <table id="showBooks">
  <% @books.in_groups_of(5,false) do |book| %>
  <tr>
      <% book.each do |b| %>
        <td><ul>
                <li>  <%= link_to image_tag(b.bookcover.url(:small), :alt=> '', class: 'list_image'),show_book_path(:title => b.title) %>  </li>
                <li> <small> <%= link_to b.title, show_book_path(:title => b.title)  %></small></li>
                 
                   <!--  <li> %= render 'reviews/shared_files/display_average_review_rating', rating:  b.average_rating.round.to_s , readers_count: b.readers_count %></li> -->
                 
             </ul>         
         </td>
      <% end %>
  </tr>
 <% end %>
 </table>

